<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCjXvLjkeMKq1wy-nwChkj4hFgEaxBOOjE</string>
	<key>GCM_SENDER_ID</key>
	<string>537159980398</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.articleExplorer.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>article-explorer</string>
	<key>STORAGE_BUCKET</key>
	<string>article-explorer.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:537159980398:ios:2bebc1ad6024ae7f9a9d7f</string>
</dict>
</plist>